# Practical_3: Iterable objects or Containers

---

### Exercise 1:
Create a list of integers from 1 to 10.

```python
# Exercise 1

In [ ]:
my_list=[1,2,3,4,5,6,7,8,9,10]

---

### Exercise 2:
Create a tuple containing the elements `"apple"`, `"banana"`, and `"cherry"`.

In [ ]:
tuple=["appe","banana","cherry"]

```python
# Exercise 2
```

---

In [3]:
# Corrected - use parentheses for tuples
my_tuple = ("apple", "banana", "cherry")
my_tuple

('apple', 'banana', 'cherry')

### Exercise 3:
Convert the list `numbers = [10, 20, 30, 40]` into a tuple.

```python
# Exercise 3
```

---

In [5]:
# Corrected
numbers = [10, 20, 30, 40]
my_tuple = tuple(numbers)
numbers

[10, 20, 30, 40]

### Exercise 4:
Create a set containing the elements `1, 2, 3, 4, 5`.

```python
# Exercise 4
```

In [ ]:
my_list={1,2,3,4,5}

---

### Exercise 5:
Create a dictionary `student` with the keys `"name"`, `"age"`, and `"grade"` and corresponding values `"Alice"`, `20`, and `"A"`.

```python
# Exercise 5
```

In [6]:
# Corrected - use curly braces and key-value pairs
student = {"name": "Alice", "age": 20, "grade": "A"}
student

{'name': 'Alice', 'age': 20, 'grade': 'A'}

---

### Exercise 6:
Access the second element of the list `[10, 20, 30, 40, 50]` using indexing.

```python
# Exercise 6
```

In [ ]:
my_list=[10,20,30,40,50]
my_list[1]

20

---

### Exercise 7:
Change the third element of the list `fruits = ["apple", "banana", "cherry", "orange"]` to `"mango"`.

```python
# Exercise 7
```

In [ ]:
fruits=["appe","banana","cherry","orange"]
fruits[2]="mango"
fruits

['appe', 'banana', 'mango', 'orange']

---

### Exercise 8:
Add the number `6` to the set `numbers = {1, 2, 3, 4, 5}`.

```python
# Exercise 8
```

In [ ]:
number={1,2,3,4,5}
number.add(6)
number

{1, 2, 3, 4, 5, 6}

---

### Exercise 9:
Remove the key `"age"` from the dictionary `person = {"name": "John", "age": 25, "city": "New York"}`.

```pytho
# Exercise 9
```

---

In [ ]:
person = {"name": "John", "age": 25, "city": "New York"}


del person["age"]
person

{'name': 'John', 'city': 'New York'}

### Exercise 10:
Create a range object starting from 0 to 9.

```python
# Exercise 10
```

---

In [ ]:
starting= [0,1,2,3,4,5,6,7,8,9]

### Exercise 11:
Use a list comprehension to create a list of squares of numbers from 1 to 10.

```python
# Exercise 11
```

In [7]:
# Corrected - use proper list comprehension
squares = [x**2 for x in range(1, 11)]
squares

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

---

### Exercise 12:
Create a tuple of even numbers between 2 and 10 using a tuple comprehension.

```python
# Exercise 12
```

In [8]:
# Corrected - use tuple comprehension
even_numbers = tuple(x for x in range(2, 11, 2))
even_numbers

(2, 4, 6, 8, 10)

---

### Exercise 13:
Use a for loop to iterate through the list `fruits = ["apple", "banana", "cherry"]` and print each element.

```python
# Exercise 13
```

---

In [ ]:
fruits=["apple","banana","cherry"]
for i in fruits:
    print(i)

apple
banana
cherry

### Exercise 14:
Check if the value `3` exists in the set `numbers = {1, 2, 3, 4, 5}`.

```python
# Exercise 14
```

In [10]:
# Corrected - use 'in' operator
numbers = {1, 2, 3, 4, 5}
exists = 3 in numbers
numbers

{1, 2, 3, 4, 5}

---

### Exercise 15:
Use the `len()` function to find the length of the tuple `numbers = (10, 20, 30
# Exercise 15
```

In [ ]:
numbers = (10, 20, 30)
len(numbers)

3

---

### Exercise 16:
Add the value `100` at the end of the list `scores = [80, 85, 90, 95]`.

```python
# Exercise 16
```

In [ ]:
scores = [80, 85, 90, 95]
scores.append(100)
scores

[80, 85, 90, 95, 100]

---

### Exercise 17:
Write a function that takes a list as input and returns the sum of all elements in the list.

```python
# Exercise 17
```

In [11]:
# Corrected
def sum_list(lst):
    return sum(lst)

# Example usage
numbers = [1, 2, 3, 4, 5]
result = sum_list(numbers)
numbers

[1, 2, 3, 4, 5]

---

### Exercise 18:
Create a set containing the unique elements of the list `numbers = [1, 2, 2, 3, 4, 4, 5]`.

```python
# Exercise 18
```

---

In [12]:
# Corrected
numbers = [1, 2, 2, 3, 4, 4, 5]
unique_set = set(numbers)
numbers

[1, 2, 2, 3, 4, 4, 5]

### Exercise 19:
Convert the string `"hello"` into a list of characters.

```python
# Exercise 19
```

---

In [13]:
# Corrected
text = "hello"
char_list = list(text)
text

'hello'

### Exercise 20:
Write a Python function that reverses a tuple `(1, 2, 3, 4)`.

```python
# Exercise 20
```

In [14]:
# Corrected
my_tuple = (1, 2, 3, 4)
reversed_tuple = my_tuple[::-1]
my_tuple

(1, 2, 3, 4)

---

### Exercise 21:
Merge two dictionaries `dict1 = {"a": 1, "b": 2}` and `dict2 = {"c": 3, "d": 4}` into a single dictionary.

```python
# Exercise 21
```

In [ ]:
dict1 ={"a":1,"b":2}
dict2 ={"c":3,"d":4}
dict={**dict1,**dict2}
dict

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

---

### Exercise 22:
Create a dictionary where keys are numbers from 1 to 5, and values are their squares.

```python
# Exercise 22
```

In [ ]:
dict={1:1,2:4,3:9,4:16,5:25}
dict

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

---

### Exercise 23:
Write a Python program to iterate through a dictionary and print each key-value pair.

```python
# Exercise 23
```

In [ ]:
dict={1:1,2:4,3:9,4:16,5:25}

---

### Exercise 24:
Create a list of the first 5 letters of the alphabet using the `chr()` function.

```python
# Exercise 24
```

---

### Exercise 25:
Use the `zip()` function to combine two lists `[1, 2, 3]` and `["a", "b", "c"]` into a list of tuples.

```python
# Exercise 25
```

In [ ]:
list (zip([1,2,3],["a","b","c"]))

[(1, 'a'), (2, 'b'), (3, 'c')]

---

### Exercise 26:
Find the index of the value `50` in the list `[10, 20, 30, 40, 50]`.

```python
# Exercise 26
```

---

In [ ]:
my_list =  [10,20,30,40,50]
my_list.index(50)

4

### Exercise 27:
Sort the list `names = ["Alice", "Bob", "Charlie", "David"]` in alphabetical order.

```python
# Exercise 27
```

---

In [15]:
# Corrected
names = ["Alice", "Bob", "Charlie", "David"]
sorted_names = sorted(names)
names

['Alice', 'Bob', 'Charlie', 'David']

### Exercise 28:
Write a Python function that takes a list of integers as input and returns the largest number.

```python
# Exercise 28
```

---

In [16]:
def find_largest(numbers):
    return max(numbers)

### Exercise 29:
Use the `count()` method to count how many times `"apple"` appears in the list `fruits = ["apple", "banana", "apple", "orange"]`.

```python
# Exercise 29
```

In [17]:
fruits = ["apple", "banana", "apple", "orange"]
count = fruits.count("apple")
fruits

['apple', 'banana', 'apple', 'orange']

---

### Exercise 30:
Create a dictionary `person` where keys are `"name"`, `"age"`, and `"city"`, and values are `"Alice"`, `25`, and `"New York"` respectively. Then access the value of the `"city"` key.

```python
# Exercise 30
```

--

In [18]:
person = {"name": "Alice", "age": 25, "city": "New York"}
city = person["city"]
person

{'name': 'Alice', 'age': 25, 'city': 'New York'}

-

### Exercise 31:
Write a Python function that takes a list as input and returns a new list with all duplicates removed.

```python
# Exercise 31
```

In [19]:
def remove_duplicates(lst):
    return list(dict.fromkeys(lst))  # Preserves order

---

### Exercise 32:
Write a Python function that takes two lists and returns their intersection.

```python
# Exercise 32
```

---

### Exercise 33:
Create a generator that yields the squares of numbers from 1 to 10.

```python
# Exercise 33
```

In [20]:
def square_generator():
    for i in range(1, 11):
        yield i**2

# Usage
squares = list(square_generator())

---

### Exercise 34:
Write a Python function that takes a dictionary as input and returns the sum of all its values.

```python
# Exercise 34
```

--

In [21]:
def sum_dict_values(dictionary):
    return sum(dictionary.values())

-

### Exercise 35:
Use the `sorted()` function to sort the list `[3, 1, 4, 1, 5, 9]` in ascending order.

```python
# Exercise 35
```

In [ ]:
numbers = [3, 1, 4, 1, 5, 9]
sorted_numbers = sorted(numbers)

---

### Exercise 36:
Write a Python function that takes a list of strings as input and returns the longest string.

```python
# Exercise 36
```

In [ ]:
def longest_string(strings):
    return max(strings, key=len)

# Example
words = ["apple", "banana", "cherry", "date"]
print(longest_string(words))  # Output: "banana"

---

### Exercise 37:
Check if all the elements in the list `[1, 2, 3, 4, 5]` are greater than 0 using the `all()` function.

```python
# Exercise 37
```

In [ ]:
numbers = [1, 2, 3, 4, 5]
all_positive = all(x > 0 for x in numbers)  # Output: True

---

### Exercise 38:
Create a list of tuples where each tuple contains a number and its square for numbers from 1 to 5.

```python
# Exercise 38
```

In [ ]:
squares_list = [(x, x**2) for x in range(1, 6)]
# Output: [(1, 1), (2, 4), (3, 9), (4, 16), (5, 25)]

---

### Exercise 39:
Write a Python function that takes a list of tuples and returns a list of the second elements from each tuple.

```python
# Exercise 39
```

-

In [ ]:
def get_second_elements(tuples_list):
    return [t[1] for t in tuples_list]

# Example
tuples = [(1, 'a'), (2, 'b'), (3, 'c')]
print(get_second_elements(tuples))  # Output: ['a', 'b', 'c']def flatten_list(nested_list):
    return [item for sublist in nested_list for item in sublist]

# Example
nested = [[1, 2], [3, 4], [5, 6]]
print(flatten_list(nested))  # Output: [1, 2, 3, 4, 5, 6]

--

### Exercise 40:
Write a Python function that flattens a list of lists into a single list.

```python
# Exercise 40
`

In [ ]:
def flatten_list(nested_list):
    return [item for sublist in nested_list for item in sublist]

# Example
nested = [[1, 2], [3, 4], [5, 6]]
print(flatten_list(nested))  # Output: [1, 2, 3, 4, 5, 6]

``

---

### Exercise 41:
Use the `enumerate()` function to iterate through the list `["apple", "banana", "cherry"]` and print the index and value.

```python
# Exercise 41
```

In [ ]:
fruits = ["apple", "banana", "cherry"]
for index, fruit in enumerate(fruits):
    print(f"Index {index}: {fruit}")

---

### Exercise 42:
Write a Python program that checks if a tuple is empty.

```python
# Exercise 42
```

In [ ]:
def is_tuple_empty(t):
    return len(t) == 0

# Example
empty_tuple = ()
non_empty = (1, 2, 3)
print(is_tuple_empty(empty_tuple))    # Output: True
print(is_tuple_empty(non_empty))      # Output: False

---

### Exercise 43:
Create a list of even numbers between 1 and 20 using the `range()` function.

```python
# Exercise 43
```

In [ ]:
even_numbers = list(range(2, 21, 2))
# Output: [2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

---

### Exercise 44:
Write a Python function that takes a list of numbers as input and returns the list in reverse order.

```python
# Exercise 44
```

In [ ]:
def reverse_list(lst):
    return lst[::-1]

# Example
numbers = [1, 2, 3, 4, 5]
print(reverse_list(numbers))  # Output: [5, 4, 3, 2, 1]

---

### Exercise 45:
Create a dictionary comprehension that maps numbers from 1 to 5 to their cubes.

```python
# Exercise 45

In [ ]:
cubes_dict = {x: x**3 for x in range(1, 6)}
# Output: {1: 1, 2: 8, 3: 27, 4: 64, 5: 125}

---

### Exercise 46:
Write a Python program that creates a new list containing only the unique elements of the list `[1, 2, 2, 3, 4, 4, 5]`.

```python
# Exercise 46
```

In [ ]:
def unique_elements(lst):
    seen = set()
    return [x for x in lst if not (x in seen or seen.add(x))]

# Example
numbers = [1, 2, 2, 3, 4, 4, 5]
print(unique_elements(numbers))  # Output: [1, 2, 3, 4, 5]

---

### Exercise 47:
Write a Python function that takes a list of dictionaries and returns a list of the values for a given key.

```python
# Exercise 47
```

In [ ]:
def extract_values(dict_list, key):
    return [d.get(key) for d in dict_list]

# Example
students = [
    {"name": "Alice", "age": 20},
    {"name": "Bob", "age": 22},
    {"name": "Charlie", "age": 21}
]
print(extract_values(students, "name"))  # Output: ['Alice', 'Bob', 'Charlie']

---

### Exercise 48:
Write a Python function that uses a generator to yield the Fibonacci sequence up to `n` terms.

```python
# Exercise 48
```

In [ ]:
def fibonacci_generator(n):
    a, b = 0, 1
    for _ in range(n):
        yield a
        a, b = b, a + b

# Usage
fib_nums = list(fibonacci_generator(10))

---

### Exercise 49:
Write a Python function that takes a string and returns a list of all unique characters in the string.

```python
# Exercise 49
```

-

In [ ]:
def unique_chars(text):
    return list(set(text))

# Example
print(unique_chars("hello"))  # Output: ['h', 'e', 'l', 'o']

--

### Exercise 50:
Write a Python function that merges two sorted lists into a single sorted list.

```python
# Exercise 50
```

In [ ]:
def merge_sorted_lists(list1, list2):
    return sorted(list1 + list2)

# Example
list1 = [1, 3, 5]
list2 = [2, 4, 6]
print(merge_sorted_lists(list1, list2))  # Output: [1, 2, 3, 4, 5, 6]

---

### Exercise 51:
Use the

 `filter()` function to filter out odd numbers from the list `[1, 2, 3, 4, 5, 6]`.

```python
# Exercise 51
```

In [ ]:
numbers = [1, 2, 3, 4, 5, 6]
even_numbers = list(filter(lambda x: x % 2 == 0, numbers))
# Output: [2, 4, 6]

---

### Exercise 52:
Write a Python program that converts a list of tuples `[(1, 2), (3, 4), (5, 6)]` into a dictionary.

```python
# Exercise 52
```

In [ ]:
tuple_list = [(1, 2), (3, 4), (5, 6)]
result_dict = dict(tuple_list)
# Output: {1: 2, 3: 4, 5: 6}

---

### Exercise 53:
Write a Python function that takes two sets and returns their symmetric difference.

```python
# Exercise 53
```

-

In [ ]:
def symmetric_difference(set1, set2):
    return set1 ^ set2

# Example
set1 = {1, 2, 3, 4}
set2 = {3, 4, 5, 6}
print(symmetric_difference(set1, set2))  # Output: {1, 2, 5, 6}

--

### Exercise 54:
Write a Python program that finds the common elements in three lists `list1`, `list2`, and `list3`.

```python
# Exercise 54
```

In [ ]:
def common_elements_three(list1, list2, list3):
    return list(set(list1) & set(list2) & set(list3))

# Example
list1 = [1, 2, 3, 4]
list2 = [2, 3, 4, 5]
list3 = [3, 4, 5, 6]
print(common_elements_three(list1, list2, list3))  # Output: [3, 4]

---

### Exercise 55:
Write a Python function that returns the factorial of a number using recursion.

```python
# Exercise 55
```
def common_elements_three(list1, list2, list3):
    return list(set(list1) & set(list2) & set(list3))

In [ ]:
def factorial(n):
    if n == 0 or n == 1:
        return 1
    else:
        return n * factorial(n - 1)

# Example
print(factorial(5))  # Output: 120

### Exercise 56:
Write a Python program that removes all empty strings from the list `["apple", "", "banana", "", "cherry"]`.

```python
# Exercise 56
```

-

In [ ]:
def remove_empty_strings(lst):
    return [item for item in lst if item != ""]

# Example
strings = ["apple", "", "banana", "", "cherry"]
print(remove_empty_strings(strings))  # Output: ['apple', 'banana', 'cherry']

--

### Exercise 57:
Write a Python function that takes a dictionary and returns a new dictionary with the keys and values swapped.

```python
# Exercise 57
```

In [ ]:
def swap_dict_keys_values(dictionary):
    return {v: k for k, v in dictionary.items()}

# Example
original = {"a": 1, "b": 2, "c": 3}
swapped = swap_dict_keys_values(original)
# Output: {1: 'a', 2: 'b', 3: 'c'}

---

### Exercise 58:
Write a Python function that takes a list of integers and returns a new list with only the even numbers.

```python
# Exercise 58
```

-

In [ ]:
def get_even_numbers(numbers):
    return [x for x in numbers if x % 2 == 0]

# Example
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print(get_even_numbers(numbers))  # Output: [2, 4, 6, 8, 10]

--

### Exercise 59:
Write a Python function that takes a list of tuples and returns a list of the first elements of each tuple.

```python
# Exercise 59
```

In [ ]:
def get_first_elements(tuples_list):
    return [t[0] for t in tuples_list]

# Example
tuples = [(1, 'a'), (2, 'b'), (3, 'c')]
print(get_first_elements(tuples))  # Output: [1, 2, 3]

---

### Exercise 60:
Write a Python program that removes duplicates from a list without changing the order of elements.

```python
# Exercise 60
```

In [ ]:
def remove_duplicates_preserve_order(lst):
    seen = set()
    result = []
    for item in lst:
        if item not in seen:
            seen.add(item)
            result.append(item)
    return result

# Example
numbers = [1, 2, 2, 3, 4, 4, 5]
print(remove_duplicates_preserve_order(numbers))  # Output: [1, 2, 3, 4, 5]

---

### Exercise 61:
Use the `map()` function to convert a list of strings to a list of their lengths.

```python
# Exercise 61
```

-

In [ ]:
strings = ["apple", "banana", "cherry", "date"]
lengths = list(map(len, strings))
# Output: [5, 6, 6, 4]

--

### Exercise 62:
Write a Python program that calculates the average of a list of numbers.

```python
# Exercise 62
```

In [ ]:
def calculate_average(numbers):
    return sum(numbers) / len(numbers) if numbers else 0

# Example
numbers = [10, 20, 30, 40, 50]
print(calculate_average(numbers))  # Output: 30.0

---

### Exercise 63:
Write a Python function that generates a list of the first `n` Fibonacci numbers.

```python
# Exercise 63
```

In [ ]:
def fibonacci_list(n):
    fib_sequence = []
    a, b = 0, 1
    for _ in range(n):
        fib_sequence.append(a)
        a, b = b, a + b
    return fib_sequence

# Example
print(fibonacci_list(10))  # Output: [0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

---

### Exercise 64:
Write a Python program that counts how many times each element appears in the list `["apple", "banana", "apple", "cherry"]`.

```python
# Exercise 64
```

--

In [ ]:
from collections import Counter

def count_occurrences(lst):
    return dict(Counter(lst))

# Example
fruits = ["apple", "banana", "apple", "cherry"]
print(count_occurrences(fruits))  # Output: {'apple': 2, 'banana': 1, 'cherry': 1}

-

### Exercise 65:
Write a Python program that removes all occurrences of a specific value from a list.

```python
# Exercise 65
```

In [ ]:
def remove_all_occurrences(lst, value):
    return [x for x in lst if x != value]

# Example
numbers = [1, 2, 3, 2, 4, 2, 5]
print(remove_all_occurrences(numbers, 2))  # Output: [1, 3, 4, 5]

---

### Exercise 66:
Write a Python function that takes a list of strings and returns a list of the strings that start with a vowel.

```python
# Exercise 66
```

In [ ]:
def starts_with_vowel(strings):
    vowels = 'aeiouAEIOU'
    return [s for s in strings if s[0] in vowels]

# Example
words = ["apple", "banana", "orange", "umbrella", "cat"]
print(starts_with_vowel(words))  # Output: ['apple', 'orange', 'umbrella']

---

### Exercise 67:
Write a Python program that finds the intersection of two sets `set1` and `set2`.

```python
# Exercise 67
```

In [ ]:
def set_intersection(set1, set2):
    return set1 & set2

# Example
set1 = {1, 2, 3, 4}
set2 = {3, 4, 5, 6}
print(set_intersection(set1, set2))  # Output: {3, 4}

---

### Exercise 68:
Write a Python function that flattens a nested list.

```python
# Exercise 68
```

In [ ]:
def flatten_nested_list(nested_list):
    result = []
    for item in nested_list:
        if isinstance(item, list):
            result.extend(flatten_nested_list(item))
        else:
            result.append(item)
    return result

# Example
nested = [1, [2, [3, 4], 5], 6]
print(flatten_nested_list(nested))  # Output: [1, 2, 3, 4, 5, 6]

---

### Exercise 69:
Write a Python program that checks if all the elements in a list are unique.

```python
# Exercise 69
```

In [ ]:
def all_unique(lst):
    return len(lst) == len(set(lst))

# Example
print(all_unique([1, 2, 3, 4, 5]))    # Output: True
print(all_unique([1, 2, 3, 3, 4]))    # Output: False

---

### Exercise 70:
Use the `reduce()` function from the `functools` module to multiply all elements in a list.

```python
# Exercise 70
```

-

In [ ]:
from functools import reduce

def multiply_elements(lst):
    return reduce(lambda x, y: x * y, lst)

# Example
numbers = [1, 2, 3, 4, 5]
print(multiply_elements(numbers))  # Output: 120

--

### Exercise 71:
Write a Python function that takes a list of strings and returns a dictionary where keys are strings and values are their lengths.

```python
# Exercise 71
```

--

In [ ]:
def string_length_dict(strings):
    return {s: len(s) for s in strings}

# Example
words = ["apple", "banana", "cherry"]
print(string_length_dict(words))  # Output: {'apple': 5, 'banana': 6, 'cherry': 6}

-

### Exercise 72:
Write a Python program that counts the number of vowels in a string.

```python
# Exercise 72
```

In [ ]:
def count_vowels(text):
    vowels = 'aeiouAEIOU'
    return sum(1 for char in text if char in vowels)

# Example
print(count_vowels("Hello World"))  # Output: 3

---

### Exercise 73:
Create a list of tuples where each tuple contains a number from 1 to 5 and its factorial.

```python
# Exercise 73
```

In [ ]:
def factorial(n):
    if n == 0 or n == 1:
        return 1
    else:
        return n * factorial(n - 1)

factorial_tuples = [(x, factorial(x)) for x in range(1, 6)]
# Output: [(1, 1), (2, 2), (3, 6), (4, 24), (5, 120)]

---

### Exercise 74:
Write a Python program that converts a list of dictionaries into a single dictionary by merging them.

```python
# Exercise 74
```

In [ ]:
def merge_dict_list(dict_list):
    result = {}
    for d in dict_list:
        result.update(d)
    return result

# Example
dicts = [{"a": 1}, {"b": 2}, {"c": 3}]
print(merge_dict_list(dicts))  # Output: {'a': 1, 'b': 2, 'c': 3}

---

### Exercise 75:
Write a Python function that checks if a set is a subset of another set.

```python
# Exercise 75
```

In [ ]:
def is_subset(set1, set2):
    return set1.issubset(set2)

# Example
set1 = {1, 2}
set2 = {1, 2, 3, 4}
print(is_subset(set1, set2))  # Output: True

---

### Exercise 76:
Write a Python program that sorts a list of tuples based on the second element in each tuple.

```python
# Exercise 76

In [ ]:
def sort_by_second_element(tuples_list):
    return sorted(tuples_list, key=lambda x: x[1])

# Example
tuples = [(1, 5), (2, 3), (3, 8), (4, 1)]
print(sort_by_second_element(tuples))  # Output: [(4, 1), (2, 3), (1, 5), (3, 8)]

```

---

### Exercise 77:
Write a Python function that takes a list of integers and returns a new list with only the positive integers.

```python
# Exercise 77
`

In [ ]:
def positive_integers(numbers):
    return [x for x in numbers if x > 0]

# Example
numbers = [-2, -1, 0, 1, 2, 3, -4]
print(positive_integers(numbers))  # Output: [1, 2, 3]

``

---

### Exercise 78:
Write a Python function that takes two sets and returns their union.

```python
# Exercise 78
```

In [ ]:
def set_union(set1, set2):
    return set1 | set2

# Example
set1 = {1, 2, 3}
set2 = {3, 4, 5}
print(set_union(set1, set2))  # Output: {1, 2, 3, 4, 5}

---

### Exercise 79:
Write a Python function that takes a list of numbers and returns the product of all the numbers.

```python
# Exercise 79
```

In [43]:
def product_of_numbers(numbers):
    result = 1
    for num in numbers:
        result *= num
    return result

# Example
numbers = [1, 2, 3, 4, 5]
print(product_of_numbers(numbers))  # Output: 120

120

---

### Exercise 80:
Write a Python program that converts a list of characters into a string.

```python
# Exercise 80
```

---

In [42]:
def chars_to_string(char_list):
    return ''.join(char_list)

# Example
chars = ['h', 'e', 'l', 'l', 'o']
print(chars_to_string(chars))  # Output: "hello"

hello

### Exercise 81:
Write a Python program that finds the second largest number in a list of integers.

```python
# Exercise 81
```

-

In [41]:
def second_largest(numbers):
    unique_numbers = list(set(numbers))
    unique_numbers.sort()
    return unique_numbers[-2] if len(unique_numbers) >= 2 else None

# Example
numbers = [10, 20, 4, 45, 99, 99]
print(second_largest(numbers))  # Output: 45

45

--

### Exercise 82:
Write a Python function that takes a dictionary and returns a list of its keys in sorted order.

```python
# Exercise 82
```

In [40]:
def sorted_dict_keys(dictionary):
    return sorted(dictionary.keys())

# Example
my_dict = {"banana": 3, "apple": 1, "cherry": 2}
print(sorted_dict_keys(my_dict))  # Output: ['apple', 'banana', 'cherry']

['apple', 'banana', 'cherry']

---

### Exercise 83:
Write a Python program that finds the most common element in a list.

```python
# Exercise 83
```

In [39]:
from collections import Counter

def most_common_element(lst):
    counter = Counter(lst)
    return counter.most_common(1)[0][0]

# Example
numbers = [1, 2, 3, 2, 4, 2, 5, 2]
print(most_common_element(numbers))  # Output: 2

2

---

### Exercise 84:
Write a Python function that takes a list of tuples and returns a list of the tuples sorted by the first element.

```python
# Exercise 84
```

In [38]:
def sort_by_first_element(tuples_list):
    return sorted(tuples_list, key=lambda x: x[0])

# Example
tuples = [(3, 'c'), (1, 'a'), (2, 'b'), (4, 'd')]
print(sort_by_first_element(tuples))  # Output: [(1, 'a'), (2, 'b'), (3, 'c'), (4, 'd')]

[(1, 'a'), (2, 'b'), (3, 'c'), (4, 'd')]

---

### Exercise 85:
Write a Python program that removes duplicates from a list of dictionaries.

```python
# Exercise 85
```

In [37]:
def remove_duplicate_dicts(dict_list):
    seen = set()
    result = []
    for d in dict_list:
        # Convert dict to frozenset of items for hashing
        dict_repr = frozenset(d.items())
        if dict_repr not in seen:
            seen.add(dict_repr)
            result.append(d)
    return result

# Example
dicts = [{"a": 1}, {"b": 2}, {"a": 1}, {"c": 3}]
print(remove_duplicate_dicts(dicts))  # Output: [{'a': 1}, {'b': 2}, {'c': 3}]

[{'a': 1}, {'b': 2}, {'c': 3}]

---

### Exercise 86:
Write a Python function that takes a list of numbers and returns the minimum and maximum numbers in the list.

```python
# Exercise 86
```

In [36]:
def min_max(numbers):
    return min(numbers), max(numbers)

# Example
numbers = [10, 20, 5, 40, 30]
print(min_max(numbers))  # Output: (5, 40)

(5, 40)

---

### Exercise 87:
Write a Python program that creates a list of tuples from two lists.

```python
# Exercise 87
``

In [35]:
def zip_lists(list1, list2):
    return list(zip(list1, list2))

# Example
list1 = [1, 2, 3]
list2 = ['a', 'b', 'c']
print(zip_lists(list1, list2))  # Output: [(1, 'a'), (2, 'b'), (3, 'c')]

[(1, 'a'), (2, 'b'), (3, 'c')]

`

---

### Exercise 88:
Write a Python function that takes a list of strings and returns a list of the strings in reverse order.

```python
# Exercise 88
```

In [34]:
def reverse_strings(strings):
    return [s[::-1] for s in strings]

# Example
words = ["apple", "banana", "cherry"]
print(reverse_strings(words))  # Output: ['elppa', 'ananab', 'yrrehc']

['elppa', 'ananab', 'yrrehc']

---

### Exercise 89:
Write a Python function that takes a list of integers and returns the sum of all odd numbers.

```python
# Exercise 89
```

In [33]:
def sum_odd_numbers(numbers):
    return sum(x for x in numbers if x % 2 != 0)

# Example
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print(sum_odd_numbers(numbers))  # Output: 25

25

---

### Exercise 90:
Write a Python program that checks if a string is a palindrome.

```python
# Exercise 90
```

In [32]:
def is_palindrome(text):
    cleaned = ''.join(char.lower() for char in text if char.isalnum())
    return cleaned == cleaned[::-1]

# Example
print(is_palindrome("A man a plan a canal Panama"))  # Output: True
print(is_palindrome("hello"))  # Output: False

True
False

---

### Exercise 91:
Write a Python program that finds the median of a list of numbers.

```python
# Exercise 91
```

In [31]:
def median(numbers):
    sorted_numbers = sorted(numbers)
    n = len(sorted_numbers)
    if n % 2 == 0:
        return (sorted_numbers[n//2 - 1] + sorted_numbers[n//2]) / 2
    else:
        return sorted_numbers[n//2]

# Example
numbers = [1, 3, 2, 5, 4]
print(median(numbers))  # Output: 3

3

---

### Exercise 92:
Write a Python function that takes a list of dictionaries and returns a dictionary with the total value for each key.

```python
# Exercise 92
```

In [30]:
def sum_values_by_key(dict_list):
    result = {}
    for d in dict_list:
        for key, value in d.items():
            result[key] = result.get(key, 0) + value
    return result

# Example
dicts = [{"a": 1, "b": 2}, {"a": 3, "c": 4}, {"b": 5, "c": 6}]
print(sum_values_by_key(dicts))  # Output: {'a': 4, 'b': 7, 'c': 10}

{'a': 4, 'b': 7, 'c': 10}

---

### Exercise 93:
Write a Python program that calculates the mode of a list of numbers.

```python
# Exercise 93
```

In [29]:
from collections import Counter

def find_mode(numbers):
    counter = Counter(numbers)
    max_count = max(counter.values())
    return [num for num, count in counter.items() if count == max_count]

# Example
numbers = [1, 2, 2, 3, 3, 3, 4, 4]
print(find_mode(numbers))  # Output: [3]

[3]

---

### Exercise 94:
Write a Python function that takes a list of numbers and returns the sum of the squares of all the numbers.

```python
# Exercise 94
```

In [28]:
def sum_of_squares(numbers):
    return sum(x**2 for x in numbers)

# Example
numbers = [1, 2, 3, 4, 5]
print(sum_of_squares(numbers))  # Output: 55

55

---

### Exercise 95:
Write a Python program that creates a list of tuples, where each tuple contains a number and its cube for numbers from 1 to 5.

```python
# Exercise 95
```

In [27]:
cubes_list = [(x, x**3) for x in range(1, 6)]
# Output: [(1, 1), (2, 8), (3, 27), (4, 64), (5, 125)]

---

### Exercise 96:
Write a Python function that returns a list of all prime numbers up to `n`.

```python
# Exercise 96
```

--

In [26]:
def primes_up_to_n(n):
    primes = []
    for num in range(2, n + 1):
        is_prime = True
        for i in range(2, int(num**0.5) + 1):
            if num % i == 0:
                is_prime = False
                break
        if is_prime:
            primes.append(num)
    return primes

# Example
print(primes_up_to_n(20))  # Output: [2, 3, 5, 7, 11, 13, 17, 19]

[2, 3, 5, 7, 11, 13, 17, 19]

-

### Exercise 97:
Write a Python program that finds the common keys between two dictionaries.

```python
# Exercise 97
```

In [25]:
def common_keys(dict1, dict2):
    return set(dict1.keys()) & set(dict2.keys())

# Example
dict1 = {"a": 1, "b": 2, "c": 3}
dict2 = {"b": 4, "c": 5, "d": 6}
print(common_keys(dict1, dict2))  # Output: {'b', 'c'}

{'b', 'c'}

---

### Exercise 98:
Write a Python function that takes a list of strings and returns a list of the strings that contain more than 5 characters.

```python
# Exercise 98
```

In [24]:
def strings_longer_than_5(strings):
    return [s for s in strings if len(s) > 5]

# Example
words = ["apple", "banana", "cherry", "date", "elderberry"]
print(strings_longer_than_5(words))  # Output: ['banana', 'cherry', 'elderberry']

['banana', 'cherry', 'elderberry']

---

### Exercise 99:
Write a Python program that converts a list of strings into a list of tuples, where each tuple contains the string and its length.

```python
# Exercise 99
```

In [23]:
def strings_with_lengths(strings):
    return [(s, len(s)) for s in strings]

# Example
words = ["apple", "banana", "cherry"]
print(strings_with_lengths(words))  # Output: [('apple', 5), ('banana', 6), ('cherry', 6)]

[('apple', 5), ('banana', 6), ('cherry', 6)]

---

### Exercise 100:
Write a Python function that takes a list of dictionaries and returns a new dictionary by summing the values of each key across all dictionaries.

```python
# Exercise 100
```

---

In [22]:
def sum_dict_values(dict_list):
    result = {}
    for d in dict_list:
        for key, value in d.items():
            result[key] = result.get(key, 0) + value
    return result

# Example
dicts = [{"a": 1, "b": 2}, {"a": 3, "c": 4}, {"b": 5, "c": 6}]
print(sum_dict_values(dicts))  # Output: {'a': 4, 'b': 7, 'c': 10}

{'a': 4, 'b': 7, 'c': 10}